<div class="sidenav" [class.collapsed]="isCollapsed">
    <div class="logo">
        <img src="assets/images/infrrd-logo.png" alt="Logo" class="logo-img">
      </div>
    <!-- <div class="toggle-btn" (click)="toggleSidenav()">
      <span class="material-icons">menu</span>
    </div> -->
    <a href="#" class="nav-item">
      <span class="material-icons">dashboard</span>
      <span class="nav-text">Overview</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">mail</span>
      <span class="nav-text">Messages <span class="badge">99+</span></span>
    </a>
    <a href="#" class="nav-item" (click)="searchClicked()">
      <span class="material-icons">search</span>
      <span class="nav-text">Search</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">filter_list</span>
      <span class="nav-text">Filter</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">history</span>
      <span class="nav-text">History</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">account_circle</span>
      <span class="nav-text">My Account</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">help_outline</span>
      <span class="nav-text">Get Help</span>
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons">exit_to_app</span>
      <span class="nav-text">Sign Out</span>
    </a>
  </div>
  