<div class="top-layout">
    <div class="count">{{filteredList.length}} Results Found</div>
    <button type="button" class="create-btn" (click)="openCreateDialog()">Create Employee</button>
</div>
<create-employee *ngIf="isDialogOpen" [isEdit]="isEdit" [employeeData]="employeeData" (formSubmitted)="refreshEmployees($event)" #employeeForm></create-employee>
<div class="list-layout">
    <div *ngFor="let user of filteredList; let i = index" class="user-card" [ngClass]="{'withSearchBlock': showSearchBlock}">
        <div class="card-header">
            <div class="icon-name-section">
                <img [src]="user.image" alt="user.image" class="user-image" />
                <div>
                   <div class="user-name">{{user.name}}</div>
                    <div class="designation">{{user.designation}}</div>
                </div>
            </div>
            <i class="material-icons send">send</i>
            <i class="material-icons trash" (click)="showConfirmationModal(user, i)">delete</i>
        </div>
        <div class="rating-section">
            <div>{{user.rating}} Rating</div>
            <div class="rating">
                <span *ngFor="let star of getStars(user)" class="material-icons">{{ star }}</span>
              </div>
            <div class="edit-icon"><i class="material-icons" (click)="editUser(user, i)">edit</i></div>
        </div>
        <div class="data-section">
            <div>
                <label>Experience:</label>
                <span>{{user.experience}}</span>
            </div>
            <div>
                <label>Date of Joining:</label>
                <span>{{user.doj}}</span>
            </div>
        </div>
        <div class="data-section">
            <div>
                <label>Current Team:</label>
                <span>{{user.team}}</span>
            </div>
        </div>
        <div class="data-section">
            <div>
                <label>Reporting Manager:</label>
                <span>{{user.reporting}}</span>
            </div>
        </div>
        <div class="data-section email-section">
            <div>
                <i class="material-icons mobile">phone</i>
                <span class="text-position">{{user.mobile}}</span>
            </div>
            <div>
                <i class="material-icons email">email</i>
                <span class="text-position" title={{user.email}}>{{truncateEmail(user.email)}}</span>
            </div>
        </div>

        <div *ngIf="user?.showConfirmation" class="cofirmModal">
            <div class="confirmText">Are you sure that you want to delete {{user?.name}} ?</div>
            <div class="btnLayout">
                <button type="button" class="cfrmButton" (click)="onYes(i)">Yes</button>
                <button type="button" class="cfrmButton no" (click)="onNo()">No</button>
            </div>
        </div>
    </div>
</div>